{% block arkounay_image_widget %}
    {% spaceless %}
        {{ _self.render_image(form, false) }}
    {% endspaceless %}
{% endblock %}

{% block arkounay_images_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': _self.render_image(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-max': data_max ? data_max : 100}) %}
        {% set attr = attr|merge({'data-min': data_min ? data_min : 0}) %}
        {% set attr = attr|merge({'data-init-with-n-elements': data_init_with_n_elements ? data_init_with_n_elements : 1}) %}
        {% set attr = attr|merge({'data-add-at-the-end': data_add_at_the_end ? data_add_at_the_end : false}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}

        <div id="{{ form.vars.id }}" class="media-list arkounay-image-list arkounay-image-collection" {% for k, v in attr %} {{ k }}="{{ v|e }}"{% endfor %}>
        {% for image in form %}
            {{ _self.render_image(image) }}
        {% endfor %}
        </div>

        {# <div class="clearfix">
            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-download"></i> Choisir à partir du serveur</button>
            <button class="btn btn-default btn-sm js-arkounay-image-add" type="button"><i class="fa fa-download"></i> Test</button>
        </div> #}

    {% endspaceless %}

{% endblock %}

{% macro render_image(image, collection = true) %}
    {% spaceless %}
        <div class="arkounay-image">
            <div class="row">

                {% if collection %}
                    <div class="col-sm-1">
                        <table class="table-sort">
                            <tr class="table-sort-up">
                                <td><a href="#" class="collection-up btn btn-default btn-x-sm"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                            </tr>
                            <tr class="table-sort-down">
                                <td><a href="#" class="collection-down btn btn-default btn-x-sm"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                            </tr>
                        </table>
                    </div>
                {% endif %}

                <div class="img-preview col-sm-2">
                    <img src="" alt="">
                </div>

                <div class="img-description {% if collection %}col-sm-9 img-description-collection {% else %}col-sm-10{% endif %}">
                    <table>
                        <tr>
                            <td class="td-label td-path">{{ form_label(image.path, null, {label_attr: {class: 'control-label'}}) }}</td>
                            <td>{{ form_widget(image.path, {attr: {class: 'arkounay-image-path'}}) }}</td>
                        </tr>

                        {% if image.vars.allow_alt %}
                            <tr>
                                <td class="td-label">{{ form_label(image.alt, null, {label_attr: {class: 'control-label'}}) }}</td>
                                <td>{{ form_widget(image.alt, {attr: {class: 'arkounay-image-alt'}}) }}</td>
                            </tr>
                        {% endif %}
                    </table>

                    {% if collection %}
                        <button class="btn btn-default btn-sm arkounay-image-button-upload" type="button"><span class="glyphicon glyphicon glyphicon-upload"></span> {{ 'arkounay.browse'|trans }} </button>
                        {{ form_widget(image.file) }}
                    {% else %}
                        <div class="upload {% if not image.vars.allow_alt %}upload-no-alt{% endif %}">
                            <div class="btn-group arkounay-browse-group" role="group">
                                <button class="btn btn-default btn-sm arkounay-image-button-erase" type="button"><span class="glyphicon glyphicon glyphicon glyphicon-erase"></span> </button>
                                <button class="btn btn-default btn-sm arkounay-image-button-upload" type="button"><span class="glyphicon glyphicon glyphicon-upload"></span> {{ 'arkounay.browse'|trans }} </button>
                            </div>
                            {{ form_widget(image.file) }}
                            {# <button class="btn btn-default btn-sm" type="button"><i class="fa fa-download"></i> Choisir à partir du serveur</button> #}
                        </div>
                    {% endif %}

                    {% if collection %}
                        <div class="actions pull-right">
                            <a href="#" class="js-remove-collection btn btn-default collection-remove collection-action"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-m-12 text-center">
                <progress></progress>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}
